.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  position: relative;
  max-width: 1024px;
  min-height: 581px;
  width: 100%;
  background-color: white;
}
.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../pictures/close.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.closeButton:hover,
.closeButton:focus {
  background-image: url(../../pictures/closeWhite.svg);
  background-color: black;
}
